In [1]:
import pandas as pd

In [2]:
#exploracion inicial individual del archivo data_remaning_kaggle.csv

df_csv1 = pd.read_csv('data_remaning_kaggle.csv')

In [3]:
df_csv1.sample(5)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
22587,22587,22587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
8171,8171,8171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4695,4695,4695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
12697,12697,12697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14482,14482,14482,NaN,NaN,NaN,NaN,NaN,None,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_csv1.shape

#Hay 214 columnas
#Hay 25973 filas/registros

(25973, 214)

In [5]:
df_csv1.describe().T

#casi todas las entradas tienen valor no numérico
# no se puede sacar mucha info de aqui

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.0,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_csv1.columns

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=214)

In [7]:
df_csv1.describe(include = object).T
#en las columnas sólo hay un tipo de respuesta en toda la columna
#que es la que vemos en top 
#Eso es porque cada columna corresponde a un tipo de respuesta
#Podemos ver en count o en freq la cantidad de veces que se ha elegido esa respuesta

,count,unique,top,freq
Q18_Part_1,2662,1,"General purpose image/video tools (PIL, cv2, s...",2662
Q18_Part_2,2740,1,"Image segmentation methods (U-Net, Mask R-CNN,...",2740
Q18_Part_3,2716,1,"Object detection methods (YOLOv3, RetinaNet, etc)",2716
Q18_Part_4,4373,1,Image classification and other general purpose...,4373
Q18_Part_5,1492,1,"Generative Networks (GAN, VAE, etc)",1492
...,...,...,...,...
Q38_B_Part_8,1020,1,ClearML,1020
Q38_B_Part_9,666,1,Domino Model Monitor,666
Q38_B_Part_10,2747,1,MLflow,2747
Q38_B_Part_11,4542,1,None,4542
Q38_B_OTHER,377,1,Other,377

In [8]:
df_csv1.info()
#hay demasiadas columnas y no nos enseña la info de cada columna 
#(indice, nombre, cuantos non_null y datatype)
#solo interesa saber el numero de nulls que podemos obtener con .isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 214 entries, Unnamed: 0 to Q38_B_OTHER
dtypes: float64(8), int64(2), object(204)
memory usage: 42.4+ MB

In [9]:
df_csv1.isnull().sum()
#Hay 25973 filas/registros
#muchas columnas estan vacias o tienen un porcentaje demasiado elevado de vacias
#Esto significa que algunas respuestas no han sido elegidas por nadie o por casi nadie

Unnamed: 0           0
index                0
Q18_Part_1       23311
Q18_Part_2       23233
Q18_Part_3       23257
                 ...
Q38_B_Part_8     24953
Q38_B_Part_9     25307
Q38_B_Part_10    23226
Q38_B_Part_11    21431
Q38_B_OTHER      25596
Length: 214, dtype: int64

In [10]:
df_csv1['Q18_Part_1'].value_counts()

General purpose image/video tools (PIL, cv2, skimage, etc)    2662
Name: Q18_Part_1, dtype: int64

###CONCLUSIONES

    -Este csv es el listado de respuestas posibles para las preguntas desde la Q18 hasta la Q38B
    -Eliminar directamente del listado las respuestas de las preguntas que hemos decidido que no son relevantes
    -Podemos eliminar las columnas que estan vacias ya que nadie selecciono esa respuesta
    -Podemos eliminar las columnas que estan casi vacias porque no son relevantes
    -Podemos sacar el porcentaje de nulos de cada columna para visualizarlo mejor
    -Decidir a partir de qué porcentaje tenemos en cuenta la respuesta
    -Podriamos juntar todas las respuestas de una pregunta en una sola columna, para tener menos columnas, como ya está en conversion_txt o en conversion_xml

In [12]:
# abrimos archivo entero para analizar el porcentaje de nulos en todas las columnas


# Supongamos que tienes un DataFrame llamado df con 214 columnas
# Para ver los porcentajes de nulos en cada columna sin truncar la visualización:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}%'.format)  # Formato de porcentaje

# Calcular los porcentajes de nulos en cada columna
porcentaje_nulos = df_csv1.isnull().mean() * 100

print(porcentaje_nulos)

Unnamed: 0        0.00%
index             0.00%
Q18_Part_1       89.75%
Q18_Part_2       89.45%
Q18_Part_3       89.54%
Q18_Part_4       83.16%
Q18_Part_5       94.26%
Q18_Part_6       94.46%
Q18_OTHER        99.54%
Q19_Part_1       89.82%
Q19_Part_2       92.21%
Q19_Part_3       97.12%
Q19_Part_4       90.95%
Q19_Part_5       94.88%
Q19_OTHER        99.58%
Q27_A_Part_1     85.67%
Q27_A_Part_2     90.57%
Q27_A_Part_3     87.90%
Q27_A_Part_4     97.80%
Q27_A_Part_5     98.25%
Q27_A_Part_6     98.88%
Q27_A_Part_7     98.94%
Q27_A_Part_8     98.50%
Q27_A_Part_9     99.00%
Q27_A_Part_10    99.34%
Q27_A_Part_11    89.65%
Q27_A_OTHER      98.70%
Q28              87.96%
Q29_A_Part_1     91.26%
Q29_A_Part_2     94.21%
Q29_A_Part_3     92.45%
Q29_A_Part_4     93.09%
Q29_A_OTHER      99.62%
Q30_A_Part_1     96.50%
Q30_A_Part_2     96.76%
Q30_A_Part_3     91.11%
Q30_A_Part_4     97.36%
Q30_A_Part_5     92.49%
Q30_A_Part_6     97.03%
Q30_A_Part_7     94.19%
Q30_A_OTHER      99.65%
Q31_A_Part_1     96.18%
Q31_A_Part_2     96.36%
Q31_A_Part_3     97.25%
Q31_A_Part_4     98.72%
Q31_A_Part_5     96.82%
Q31_A_Part_6     99.22%
Q31_A_Part_7     99.02%
Q31_A_Part_8     98.87%
Q31_A_Part_9     75.43%
Q31_A_OTHER      98.94%
Q36_A_Part_1     96.12%
Q36_A_Part_2     96.99%
Q36_A_Part_3     95.43%
Q36_A_Part_4     98.68%
Q36_A_Part_5     96.33%
Q36_A_Part_6     96.56%
Q36_A_Part_7     75.60%
Q36_A_OTHER      99.18%
Q37_A_Part_1     97.11%
Q37_A_Part_2     98.78%
Q37_A_Part_3     98.76%
Q37_A_Part_4     98.96%
Q37_A_Part_5     98.55%
Q37_A_Part_6     98.27%
Q37_A_Part_7     95.40%
Q37_A_OTHER      99.14%
Q38_A_Part_1     99.16%
Q38_A_Part_2     97.93%
Q38_A_Part_3     99.59%
Q38_A_Part_4     99.62%
Q38_A_Part_5     93.35%
Q38_A_Part_6     99.54%
Q38_A_Part_7     99.58%
Q38_A_Part_8     99.32%
Q38_A_Part_9     99.65%
Q38_A_Part_10    95.89%
Q38_A_Part_11    75.98%
Q38_A_OTHER      99.13%
Q39_Part_1       98.87%
Q39_Part_2       98.51%
Q39_Part_3       99.48%
Q39_Part_4       82.34%
Q39_Part_5       97.29%
Q39_Part_6       88.20%
Q39_Part_7       92.88%
Q39_Part_8       98.83%
Q39_Part_9       87.81%
Q39_OTHER        98.82%
Q40_Part_1       62.85%
Q40_Part_2       88.34%
Q40_Part_3       66.62%
Q40_Part_4       84.61%
Q40_Part_5       95.55%
Q40_Part_6       89.21%
Q40_Part_7       75.21%
Q40_Part_8       89.63%
Q40_Part_9       93.05%
Q40_Part_10      81.20%
Q40_Part_11      93.22%
Q40_OTHER        91.99%
Q42_Part_1       85.57%
Q42_Part_2       86.75%
Q42_Part_3       88.68%
Q42_Part_4       56.21%
Q42_Part_5       88.46%
Q42_Part_6       59.95%
Q42_Part_7       92.21%
Q42_Part_8       69.29%
Q42_Part_9       87.10%
Q42_Part_10      92.32%
Q42_Part_11      96.12%
Q42_OTHER        97.76%
Q27_B_Part_1     71.15%
Q27_B_Part_2     78.25%
Q27_B_Part_3     71.19%
Q27_B_Part_4     90.03%
Q27_B_Part_5     93.41%
Q27_B_Part_6     96.50%
Q27_B_Part_7     96.98%
Q27_B_Part_8     96.95%
Q27_B_Part_9     97.57%
Q27_B_Part_10    97.88%
Q27_B_Part_11    91.38%
Q27_B_OTHER      98.96%
Q29_B_Part_1     79.29%
Q29_B_Part_2     77.70%
Q29_B_Part_3     71.14%
Q29_B_Part_4     96.27%
Q29_B_OTHER      99.70%
Q30_B_Part_1    100.00%
Q30_B_Part_2    100.00%
Q30_B_Part_3    100.00%
Q30_B_Part_4    100.00%
Q30_B_Part_5    100.00%
Q30_B_Part_6    100.00%
Q30_B_Part_7    100.00%
Q30_B_OTHER     100.00%
Q31_B_Part_1     85.95%
Q31_B_Part_2     80.64%
Q31_B_Part_3     79.58%
Q31_B_Part_4     92.95%
Q31_B_Part_5     91.52%
Q31_B_Part_6     97.06%
Q31_B_Part_7     96.95%
Q31_B_Part_8     96.08%
Q31_B_Part_9     84.17%
Q31_B_OTHER      98.66%
Q32_B_Part_1     76.38%
Q32_B_Part_2     87.34%
Q32_B_Part_3     88.31%
Q32_B_Part_4     91.13%
Q32_B_Part_5     83.49%
Q32_B_Part_6     95.82%
Q32_B_Part_7     95.40%
Q32_B_Part_8     87.90%
Q32_B_Part_9     89.68%
Q32_B_Part_10    94.03%
Q32_B_Part_11    95.34%
Q32_B_Part_12    95.45%
Q32_B_Part_13    94.25%
Q32_B_Part_14    91.36%
Q32_B_Part_15    89.05%
Q32_B_Part_16    87.36%
Q32_B_Part_17    93.74%
Q32_B_Part_18    92.11%
Q32_B_Part_19    95.18%
Q32_B_Part_20    92.79%
Q32_B_OTHER      99.02%
Q34_B_Part_1     81.05%
Q34_B_Part_2     95.12%
Q34_B_Part_3     84.25%
Q34_B_Part_4     97.85%
Q34_B_Part_5     79.13%
Q34_B_Part_6     95.13%
Q34_B_Part_7     93.46%
Q34_B_Part_8     96.99%
Q34_B_Part_9     98.94%
Q34_B_Part_10    98.97%
Q34_B_Part_11    97.97%
Q34_B_Part_12    98.79%
Q34_B_Part_13    94.83%
Q34_B_Part_14    93.47%
Q34_B_Part_15    98.99%
Q34_B_Part_16    88.23%
Q34_B_OTHER      98.88%
Q36_B_Part_1     86.54%
Q36_B_Part_2     85.95%
Q36_B_Part_3     81.67%
Q36_B_Part_4     91.60%
Q36_B_Part_5     87.18%
Q36_B_Part_6     81.70%
Q36_B_Part_7     87.60%
Q36_B_OTHER      98.76%
Q37_B_Part_1     81.45%
Q37_B_Part_2     94.66%
Q37_B_Part_3     93.65%
Q37_B_Part_4     94.05%
Q37_B_Part_5     89.67%
Q37_B_Part_6     87.86%
Q37_B_Part_7     94.62%
Q37_B_OTHER      98.92%
Q38_B_Part_1     95.09%
Q38_B_Part_2     93.91%
Q38_B_Part_3     97.56%
Q38_B_Part_4     97.72%
Q38_B_Part_5     83.68%
Q38_B_Part_6     97.19%
Q38_B_Part_7     97.16%
Q38_B_Part_8     96.07%
Q38_B_Part_9     97.44%
Q38_B_Part_10    89.42%
Q38_B_Part_11    82.51%
Q38_B_OTHER      98.55%
dtype: float64